<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= name %></p>
    <h2>Sign up</h2>
    <form action = "/login" method = "post">
    <input type="email" name="" id="">
    <input type="password" name = "" id = "">
    <input type="submit" name = "" id = "">
 </form>
 <h2>Search</h2>
 <form action ="/search" method ="post">
    <input type = "search" name = "" id = "">
    <input type = "submit" name = "" id = "">
 </form>
 <h2>Sign up</h2>
 <form action = "/signup" method = "post">
    <input type = "email" name = "" id = "">
    <input type = "password" name = "" id = "">
    <input type = "submit" name = "" id = "">

 </form>
 <h2>Post</h2>
 <form action = "/post" method = "post">
    <input type = "text" name = "" id = "">
    <input type = "submit" name = "" id = "">
 </form>

</body>
</html>